{% extends 'User/generic.html' %}
{% load staticfiles %}

{% block title%}Registro{% endblock %}

{% block stylesheetContent%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block body %}


    <div class="row justify-content-center login-form">
        <div class="col-lg-5 col-md-5 col-sm-10">
          <form class="form-signin" action="{% url 'user:registerPath' %}" method='post'>

              {% csrf_token %}
              {% for formField in form %}
                <label for='{{formField.id_of_label}}' style="color:white;">{{formField.label}}:</label>
                  {{formField}}
                  {% for key, value in errors.items %}
                    {% if key == formField.name %}
                      {% if key == 'password' %}
                        <p style="color:red;">{{value.0}}</p>
                      {% else %}
                        <p style="color:red;">{{value.1}}</p>
                      {% endif%}
                    {% endif %}
                 {% endfor %}
              {% endfor %}
              <div class="text-center">
                <button type="submit" class="btn btn-primary" style='margin: 1rem 0;'>Iniciar sesión</button>
              </div>
          </form>
          <div class="text-center">
            <p class="mt-3s" style="color:white;">¿No tienes cuenta? <a href={%url 'user:registerPath' %}><button type="button" class="btn btn-link" style="margin:0% 0% 1% -2%">Registrate</button> </a></p>
          </div>
      </div>

{% endblock %}

{% block jsContent %}
{% endblock %}
